  <script type="text/javascript">
    $(function() {
      $(".editable_select").editable("/index.py/update", { 
        indicator : '<img src="img/indicator.gif">',
        data   : "{'Lorem ipsum':'Lorem ipsum','Ipsum dolor':'Ipsum dolor','Dolor sit':'Dolor sit'}",
        type   : "select",
        submit : "OK",
        style  : "inherit",
        submitdata : function() {
          return {id : 2};
        }
      });
      $(".editable_select_json").editable("/index.py/update", { 
        indicator : '<img src="img/indicator.gif">',
        loadurl : "json.php",
        type   : "select",
        submit : "OK",
        style  : "inherit"
      });


      $(".editable_textarea").editable("/index.py/update", { 
          indicator : "<img src='img/indicator.gif'>",
          type   : 'textarea',
          submitdata: { _method: "post" },
          select : true,
          submit : 'OK',
          cancel : 'cancel',
          cssclass : "editable",
      });
      $(".editable_textile").editable("/index.py/update", { 
          indicator : "<img src='img/indicator.gif'>",
          loadurl   : "/index.py/memo/",
          type      : "textarea",
          submit    : "OK",
          cancel    : "Cancel",
          tooltip   : "Click to edit..."
      });
      $(".click").editable("/echo.php", { 
          indicator : "<img src='img/indicator.gif'>",
          tooltip   : "Click to edit...",
          style  : "inherit"
      });
      $(".dblclick").editable("/echo.php", { 
          indicator : "<img src='img/indicator.gif'>",
          tooltip   : "Doubleclick to edit...",
          event     : "dblclick",
          style  : "inherit"
      });
      $(".mouseover").editable("echo.php", { 
          indicator : "<img src='img/indicator.gif'>",
      });
    });

    $(document).ready(function() {
      $(".charcounter").editable("/index.py/update", { 
        indicator : "<img src='img/indicator.gif'>",
        type      : "charcounter",
        submit    : 'OK',
        tooltip   : "Click to edit...",
        onblur    : "ignore",
        charcounter : {
           characters : 60
        }
      });

      $(".autogrow").editable("/index.py/update", { 
          indicator : "<img src='img/indicator.gif'>",
          loadurl   : "/index.py/memo/",
          type      : "autogrow",
          submit    : 'OK',
          cancel    : 'cancel',
          tooltip   : "Click to edit...",
          onblur    : "ignore",
          autogrow : {
             lineHeight : 16,
             minHeight  : 32
          }
       });
    });
    var tags=[
          {tag:"todo",freq:20},{tag:"cal",freq:21},{tag:"memo",freq:22},{tag:"gohan",freq:23},{tag:"食事",freq:100}
        ]


</script> 

<link rel=stylesheet href="/static/jquery.tagInput.css" type="text/css">
<script type="text/javascript" src="/static/jquery.tagInput.js"></script>


約{{ count }}件
{% for memo in memos %}
  {% autoescape false %}

   <li><h2>{{ memo.created_at }}</h2><pre><p class="autogrow" id="{{memo.id}}">{{ memo.memo | e }}</p></pre>

    <div id="tag_results_{{ memo.id }}">hoge hoge</div>

    <form method=post class=add-tag id="tag-form_{{ memo.id }}">
      <input type="text" size="80" id="tag_{{ memo.id }}" name="tag_{{ memo.id }}" >
      <input type="hidden" id="memo_id" name="memo_id" value="{{ memo.id }}">
      <input type=submit value=taged>
    </form>
    
    <script type="text/javascript">
      $(function(){ 
          $("#tag-form_{{ memo.id }}").submit(function(){ 
              ajax_post_{{ memo.id }}();
              return false;
          }); 
      }); 
      function ajax_post_{{ memo.id }}(){ 
        $("#tag_results_{{ memo.id }}").show();
        var search_val = $("#tag_{{ memo.id }}").val();
        var memo_id_val = $("#memo_id").val();
        $.post("/index.py/updatetag", {tag:search_val,memo_id:memo_id_val}, function(data){
         if (data.length>0){ 
           $("#tag_results_{{ memo.id }}").html(data); 
         } 
        }) 
      } 
    </script>
    
    <script type="text/javascript">
      $(function(){
        $("#tag_{{ memo.id }}").tagInput({
          tags:tags,
          sortBy:"frequency",
          suggestedTags:["todo","idea","cal","memo","gohan"],
          tagSeparator:" ",
          autoFilter:true,
          autoStart:false,
          boldify:true
        })
      })
    </script>

  {% endautoescape %}
{% else %}
  <li><em>メモが無いよ</em>
{% endfor %}

