{% extends "layout.html" %}
{% block body %}

  <script type="text/javascript">
    $(function() {
      $.autopager();
    });
    $(function(){
      var defaultc = '#999999';
      var focusc = '#000000';
      $('textarea,input[type="text"]').css('color',defaultc).focus(function(){
        if($(this).val() == this.defaultValue){
          $(this).val('').css('color', focusc);
        }
      })
      .blur(function(){
        if($(this).val() == this.defaultValue | $(this).val() == ''){
          $(this).val(this.defaultValue).css('color',defaultc);
        };
      });
    });
    $(function() {
      $("textarea").keyup(function(){
        var counter = $(this).val().length;
        $("#countUp").text(counter);
        if(counter == 0){
          $("#countUp").text("0");
        }
        if(counter >= 140){
          $("#countUp").css("color","red");
        } else{$("#countUp").css("color","#666");}
      });
    });

    $(function(){
      //$("#search_results").slideUp();
      $("#search_button").click(function(e){
        e.preventDefault();
        ajax_search();
      });
      $("#search_term").keyup(function(e){
        e.preventDefault();
        ajax_search();
      });
    });
    function ajax_search_load(){
      ajax_search();
    }
    function ajax_search(){
      var search_val=$("#search_term").val();
      
      $("#search_results").show();
      $.get("./search/", {keyword : search_val}, function(data){
       if (data.length>0){
         $("#search_results").html(data);
       }
      })
      
      $("#search_pager").show();
      $("#search_pager").html("<a href='/index.py/?page={{ nextpage }}&keyword=" + search_val + "' rel='next'>次のページ / Next</a>");
    } 
  </script>
  <body onLoad="ajax_search_load()">

  {% if session.logged_in %}

    
    <form action="{{ url_for('add_memo') }}" method=post class=add-memo>
      <dl>
        <dd><textarea name=memo rows=4 cols=60>メモれ！コピれ！(｀ω´)</textarea>
        <dd><input type=submit value=Share>
        <dd id="countUp">0
      </dl>
    </form>

    <form id="searchform" method="post" class=search-memo>
      <dl>
        <dd><input type="text" name="search_term" id="search_term" />
        <dd><input type="submit" value="search" id="search_button" />
      </dl>
    </form>

    <div class="content">
    <ul class=memos>
    <div id="search_results"></div>
    </ul>
    </div>
    <div id="search_pager"></div>
  {% else %}
    はいらなつかえへんで！(｀ω´)
  {% endif %}
{% endblock %}
  </body>
