{% extends "layout.html" %}
{% block body %}

  <script type="text/javascript">

    $(function(){
      var defaultc = '#999999';
      var focusc = '#000000';
      $('textarea,input[type="text"]').css('color',defaultc).focus(function(){
        if($(this).val() == this.defaultValue){
          $(this).val('').css('color', focusc);
        }
      })
      .blur(function(){
        if($(this).val() == this.defaultValue | $(this).val() == ''){
          $(this).val(this.defaultValue).css('color',defaultc);
        };
      });
    });
    $(function() {
      $("textarea").keyup(function(){
        var counter = $(this).val().length;
        $("#countUp").text(counter);
        if(counter == 0){
          $("#countUp").text("0");
        }
        if(counter >= 140){
          $("#countUp").css("color","red");
        } else{$("#countUp").css("color","#666");}
      });
    });

    $(function(){
      //$("#search_results").slideUp();
      $("#search_button").click(function(e){
        e.preventDefault();
        ajax_search();
      });
      $("#search_term").keyup(function(e){
        e.preventDefault();
        ajax_search();
      });
    });
    function ajax_search_load(){
      ajax_search();
    }
    function ajax_search(){
      var search_val=$("#search_term").val();
      
      $("#search_results").show();
      $.get("./search/", {keyword : search_val, page : {{ page}} }, function(data){
       if (data.length>0){
         $("#search_results").html(data);
       }
      })
      
      $("#search_pager").show();
      $("#search_pager").html("<a href='/index.py/?page={{ nextpage }}&keyword=" + search_val + "' rel='next'>次のページ / Next</a>");
      
      $("#search_header").show();
    } 

    $(document).ready(function(){
      $("#nav > li:first").addClass("select");
      $("#nav > li").hover(function(){
          $(this).css("cursor","pointer");
      },function(){
          $(this).css("cursor","default");
      });
      $("#tab > div").hide();
      $("#tab > div:first").show();
      $("#nav > li").click(function () {
          $("#nav > li").removeClass("select");
          $(this).addClass("select");
          $("#tab > div").hide();
          $("#tab > div").eq($("#nav > li").index(this)).fadeIn();
      });
    });

  </script>
  <body onLoad="ajax_search_load()">

  {% if session.logged_in %}
    <div id="tab">
      <ul id="nav">
        <li>短文</li>
        <li>長文</li>
        <li>ファイル</li>
        <li>CUI</li>
      </ul>
      
      <div>
        <form action="{{ url_for('add_memo') }}" method=post class=add-memo>
          <dl>
            <dd><textarea name=memo rows=4 cols=60>メモするといいで(｀ω´)</textarea>
            <dd><input type=submit value=Share>
            <dd id="countUp">0
          </dl>
        </form>
      </div>
      
      <div>
        <form action="{{ url_for('add_memo') }}" method=post class=add-memo>
          <dl>
            <dd><textarea name=memo rows=50 cols=60>メモするといいで(｀ω´)</textarea>
            <dd><input type=submit value=Share>
            <dd id="countUp">0
          </dl>
        </form>
      </div>
      
      <div>
        <form action="#" method=post class=add-file>
          <dl>
            <dd><input type="file">
            <dd><input type=submit value=Share>
          </dl>
        </form>
      </div>
      
      <div>
        <form action="#" method=post class=cui>
          <dl>
            <dd><textarea rows=4 cols=60>
CUIによるインタフェースも用意するで(｀ω´)
rsync -av -e ssh SRCPATH USERNAME@HOSTNAME:DESTPATH
とかな(｀ω´)
            </textarea>
          </dl>
        </form>
      </div>
    </div>

    <form id="searchform" method="post" class=search-memo>
      <dl>
        <dd><input type="text" name="search_term" id="search_term" />
        <dd><input type="submit" value="search" id="search_button" />
      </dl>
    </form>

    <div class="content">
    <div id="search_header"></div>
    <ul class=memos>
    <div id="search_results"></div>
    </ul>
    </div>
    <div id="search_pager"></div>
  {% else %}
    使いたかったらログインしてな！(｀ω´)
  {% endif %}
{% endblock %}
  </body>
